<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aura Hunt</title>
  <link rel="shortcut icon" href="/assets/images/Logo.svg" type="image/x-icon">

  <link rel="stylesheet" href="./assets/css/main.css">
  <style>
    .game {
      display: flex !important;
      flex-direction: column;
    }

    h2 {
      margin: 5px;
    }

    li {
      text-transform: capitalize;
      text-align: start;
    }
  </style>
</head>

<body>
  <nav><img src="./assets/images/Logo.svg" alt="Aura Hunt">
    <div>
      <a href="/" class="button-77" id="instructions">Instructions</a>
      <a href="/scoreboard" class="button-77" id="scoreboard">Scoreboard</a>
    </div>
  </nav>
  <div class="overlayer"></div>
  <main>

    <div class="glitch">
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
      <div class="line">Aura Hunt</div>
    </div>
    <div class="game">
      <h2>Instructions</h2>
      <ul>
        <li>Search for QR Codes arround the school (do not enter the labs part).</li>
        <li>Be carefull for the whatsapp group as updates will be published.</li>
        <li>While playing, DO NOT ASK HELP IN CHALLENGES FROM OTHER TEAMS, but you may ask for general help like a tehcnical issue or sth.</li>
        <li>review the instructions page time to time. </li>
        <li>Do not use your infrared eyes while searching for QR codes.</li>
        </ul>
    </div>
  </main>
  <footer>
    <div>
      <p>STEM High School for Boys - 6th of October</p>
    </div>
  </footer>
  <script src="./assets/js/main.js"></script>
</body>

</html>
